<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/style.css">
		<title>Hat Collection</title>
	</head>
	<body>
		<div class="new">
			<h1>New Hat</h1>
			<form action="/hats" method="POST">
				Name: <input type="text" name="name" /><br />
				Description: <input type="text" name="description" /><br />
				Image: <input type="text" name="img" /><br />
				Price: <input type="text" name="price" /><br />
				<input class="button" type="submit" name="" value="Add Hat" />
			</form>
		</div>
	</body>
</html>